USE [master]
GO
/****** Object:  Database [webshop]    Script Date: 17 May 2017 10:47:30 Hrs ******/
CREATE DATABASE [webshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webshop', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\webshop.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'webshop_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\webshop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webshop]
GO
/****** Object:  User [ASPNET]    Script Date: 17 May 2017 10:47:30 Hrs ******/
CREATE USER [ASPNET] FOR LOGIN [ASPNET] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ASPNET]
GO
/****** Object:  Table [dbo].[besteldetails]    Script Date: 17 May 2017 10:47:30 Hrs ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[besteldetails](
	[bestellingID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[aantal] [int] NOT NULL,
	[bestelPrijs] [numeric](10, 2) NOT NULL,
 CONSTRAINT [PK_besteldetails] PRIMARY KEY CLUSTERED 
(
	[bestellingID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bestellingen]    Script Date: 17 May 2017 10:47:30 Hrs ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bestellingen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bestelDatum] [datetime] NOT NULL,
	[leverDatum] [datetime] NULL,
	[verzendDatum] [datetime] NULL,
	[opmerkingen] [ntext] NULL,
	[klantID] [int] NOT NULL,
	[status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_bestellingen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[klanten]    Script Date: 17 May 2017 10:47:30 Hrs ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klanten](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[naam] [nvarchar](50) NOT NULL,
	[straat] [nvarchar](50) NOT NULL,
	[postcode] [nvarchar](10) NULL,
	[gemeente] [nvarchar](50) NOT NULL,
	[provincie] [nvarchar](50) NULL,
	[landID] [int] NOT NULL,
	[userlevel] [int] NOT NULL,
 CONSTRAINT [PK_klanten] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[landen]    Script Date: 17 May 2017 10:47:30 Hrs ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[naam] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_landen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productcategories]    Script Date: 17 May 2017 10:47:30 Hrs ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productcategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[naam] [nvarchar](50) NOT NULL,
	[omschrijving] [ntext] NULL,
 CONSTRAINT [PK_productcategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[producten]    Script Date: 17 May 2017 10:47:30 Hrs ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producten](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[naam] [nvarchar](50) NOT NULL,
	[schaal] [nvarchar](10) NULL,
	[omschrijving] [ntext] NULL,
	[opVoorraad] [int] NOT NULL,
	[besteld] [int] NOT NULL,
	[prijs] [numeric](10, 2) NOT NULL,
	[categorieID] [int] NOT NULL,
 CONSTRAINT [PK_producten] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[besteldetails] ([bestellingID], [productID], [aantal], [bestelPrijs]) VALUES (1, 22, 30, CAST(136.00 AS Numeric(10, 2)))
INSERT [dbo].[besteldetails] ([bestellingID], [productID], [aantal], [bestelPrijs]) VALUES (1, 23, 30, CAST(136.00 AS Numeric(10, 2)))
INSERT [dbo].[besteldetails] ([bestellingID], [productID], [aantal], [bestelPrijs]) VALUES (2, 28, 25, CAST(108.06 AS Numeric(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[bestellingen] ON 

INSERT [dbo].[bestellingen] ([ID], [bestelDatum], [leverDatum], [verzendDatum], [opmerkingen], [klantID], [status]) VALUES (1, CAST(0x000092F900000000 AS DateTime), CAST(0x0000930000000000 AS DateTime), NULL, NULL, 86, N'PROCESSING')
INSERT [dbo].[bestellingen] ([ID], [bestelDatum], [leverDatum], [verzendDatum], [opmerkingen], [klantID], [status]) VALUES (2, CAST(0x000092FC00000000 AS DateTime), CAST(0x0000930500000000 AS DateTime), NULL, N'Check on availability.', 8, N'PROCESSING')
INSERT [dbo].[bestellingen] ([ID], [bestelDatum], [leverDatum], [verzendDatum], [opmerkingen], [klantID], [status]) VALUES (3, CAST(0x000092FD00000000 AS DateTime), CAST(0x0000930500000000 AS DateTime), NULL, NULL, 28, N'WAITING')
GO
SET IDENTITY_INSERT [dbo].[bestellingen] OFF
SET IDENTITY_INSERT [dbo].[klanten] ON 

INSERT [dbo].[klanten] ([ID], [naam], [straat], [postcode], [gemeente], [provincie], [landID], [userlevel]) VALUES (1, N'Atelier graphique', N'54, rue Royale', N'44000', N'Nantes', NULL, 7, 10)
INSERT [dbo].[klanten] ([ID], [naam], [straat], [postcode], [gemeente], [provincie], [landID], [userlevel]) VALUES (2, N'Signal Gift Stores', N'8489 Strong St.', N'83030', N'Las Vegas', N'NV', 27, 10)
INSERT [dbo].[klanten] ([ID], [naam], [straat], [postcode], [gemeente], [provincie], [landID], [userlevel]) VALUES (4, N'La Rochelle Gifts', N'67, rue des Cinquante Otages', N'44000', N'Nantes', NULL, 7, 10)
GO
SET IDENTITY_INSERT [dbo].[klanten] OFF
SET IDENTITY_INSERT [dbo].[landen] ON 

INSERT [dbo].[landen] ([ID], [naam]) VALUES (2, N'Austria')
INSERT [dbo].[landen] ([ID], [naam]) VALUES (3, N'Belgium')
INSERT [dbo].[landen] ([ID], [naam]) VALUES (4, N'Canada')
SET IDENTITY_INSERT [dbo].[landen] OFF
SET IDENTITY_INSERT [dbo].[productcategories] ON 

INSERT [dbo].[productcategories] ([ID], [naam], [omschrijving]) VALUES (3, N'Planes', N'Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning details such as official logos and insignias, rotating jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.')
SET IDENTITY_INSERT [dbo].[productcategories] OFF
SET IDENTITY_INSERT [dbo].[producten] ON 

INSERT [dbo].[producten] ([ID], [naam], [schaal], [omschrijving], [opVoorraad], [besteld], [prijs], [categorieID]) VALUES (1, N'1969 Harley Davidson Ultimate Chopper', N'1:10', N'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, 917, CAST(48.81 AS Numeric(10, 2)), 2)
INSERT [dbo].[producten] ([ID], [naam], [schaal], [omschrijving], [opVoorraad], [besteld], [prijs], [categorieID]) VALUES (2, N'1952 Alpine Renault 1300', N'1:10', N'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, 778, CAST(98.58 AS Numeric(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[producten] OFF
ALTER TABLE [dbo].[klanten] ADD  CONSTRAINT [DF_klanten_userlevel]  DEFAULT ((10)) FOR [userlevel]
GO
ALTER TABLE [dbo].[producten] ADD  CONSTRAINT [DF_producten_opVoorraad]  DEFAULT ((0)) FOR [opVoorraad]
GO
ALTER TABLE [dbo].[producten] ADD  CONSTRAINT [DF_producten_besteld]  DEFAULT ((0)) FOR [besteld]
GO
ALTER TABLE [dbo].[besteldetails]  WITH CHECK ADD  CONSTRAINT [FK_besteldetails_bestellingen] FOREIGN KEY([bestellingID])
REFERENCES [dbo].[bestellingen] ([ID])
GO
ALTER TABLE [dbo].[besteldetails] CHECK CONSTRAINT [FK_besteldetails_bestellingen]
GO
ALTER TABLE [dbo].[besteldetails]  WITH CHECK ADD  CONSTRAINT [FK_besteldetails_producten] FOREIGN KEY([productID])
REFERENCES [dbo].[producten] ([ID])
GO
ALTER TABLE [dbo].[besteldetails] CHECK CONSTRAINT [FK_besteldetails_producten]
GO
ALTER TABLE [dbo].[bestellingen]  WITH CHECK ADD  CONSTRAINT [FK_bestellingen_klanten] FOREIGN KEY([klantID])
REFERENCES [dbo].[klanten] ([ID])
GO
ALTER TABLE [dbo].[bestellingen] CHECK CONSTRAINT [FK_bestellingen_klanten]
GO
ALTER TABLE [dbo].[klanten]  WITH CHECK ADD  CONSTRAINT [FK_klanten_landen] FOREIGN KEY([landID])
REFERENCES [dbo].[landen] ([ID])
GO
ALTER TABLE [dbo].[klanten] CHECK CONSTRAINT [FK_klanten_landen]
GO
ALTER TABLE [dbo].[producten]  WITH CHECK ADD  CONSTRAINT [FK_producten_productcategories] FOREIGN KEY([categorieID])
REFERENCES [dbo].[productcategories] ([ID])
GO
ALTER TABLE [dbo].[producten] CHECK CONSTRAINT [FK_producten_productcategories]
GO
USE [master]
GO
